aiosqlite==0.20.0
fastapi==0.115.6
httpx==0.28.1
loguru==0.7.3
sqlmodel==0.0.22
uvicorn[standard]==0.32.1

# testing
pytest==8.3.4
pytest-asyncio==0.24.6
pytest-cov==6.0.0

# documentation
black==24.10.0
mkdocs==1.6.1
mkdocs-material==9.5.48
mkdocstrings-python==1.12.2
